# Gradle
.gradle
build/
gradle-8.4.zip
gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml

# Local config
local.properties

# Android
*.apk
*.aab

# Keystore - DO NOT COMMIT
*.keystore
signing.properties
